[Desktop Entry]
Name=Torn
Exec=torn -i %u
Icon=torn
Comment=Cut your Screenshot into pieces
GenericName=Torn
Encoding=UTF-8
Version=1.0
Type=Application
MimeType=image/gif;image/jpeg;image/png;
Terminal=true
Categories=Graphics;
